# Defold
src/HGS-plinko/.internal/
src/HGS-plinko/.build/
src/HGS-plinko/build/

# Lua
luac.out
*.luac

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Temporary files
*.tmp
*.temp
*.bak
*~